@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,500;1,900&display=swap');


@import "../scss/nullstyle.scss";

$fz:80px;
$color_1:blue;
$color_2:red;

%tplborder{
  font-size: $fz;
  border-bottom: 5px dashed $color_2;
}

@mixin fontz($f){
  font-size: $f;
}
.textoriginal{
  font-size: 30px;
  line-height: 35px;
  p{margin: 0 0 30px 0;}
}
.text{
  font-family: "Roboto";
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  p{margin: 0 0 30px 0;}
}
.block
{
  padding: 30px;
  font-size: $fz;
  line-height: 60px;
  .block__text{
    font-size: $fz;
    span{
      color: green;
    }
  }

}
.link{
  color: $color_1;
  text-decoration: underline;
  font-size: $fz;

  .block &{
    font-size: 100px;
  }

  &:hover{
    color:green;
  }
  @extend %tplborder;
  
}
.link-2{
  @include fontz('120px');
  @extend %tplborder;
}